h1 Burn Down Chart

md-toolbar(
  md-theme="blue"
)
  .md-toolbar-tools
    h3 SCRUM BOOAOAOAOAARD
    md-button(
      ng-click="saveToTrello()"
    ) Save Board to Trello

md-toolbar
  .md-toolbar-tools
    h3 SCRUM BOOAOAOAOAARD
    md-button(
      ui-sref="burndown.board"
    ) Go !
md-content.md-padding
  .scrum-board(
    ui-view
  )
    

md-toolbar
  .md-toolbar-tools
    h3 Burn Down 4 WAT ?
    md-button(
      ng-click="toggleDayPlusOne()"
    ) Toggle D+1
md-content.md-padding
  bdcgraph(data="graphData")
