select-people {
  .member-select {
    display: inline-block;
    input[type="checkbox"] {
      display: none;
    }
    &.selected {
      border-bottom: red solid 3px;
      // background-color: red;
    }
    label {
      width: 100%;
      height: 100%;
    }
  }
}
