span(ng-if="resources.numSprint") Sprint \#{{resources.numSprint}} / 
span Célérité : {{resources.speed | number: 1}} / 
span JH : {{resources.totalManDays}} / 
span Points : {{resources.totalPoints}}
