.chart
  .bar(
    ng-repeat="value in data track by $index"
    ng-style="{'width': 100 / data.length + '%'}"
  )
    .level(
      class="bar-color-{{$index}}"
      ng-style="{'height': 100 * value / maxValue + '%'}"
    )
    .bar-label {{ labels[$index] }}
