h1 haha Setup

md-content
  h4 Board
  select-board(
    boards="boards"
    board="board"
  )

md-content
  h4 Columns

md-content
  h4 Resources
  p Team
  p sprint days
  p JH/J/person
  p contrat (nb point or speed)

//- pre {{ boards | json }}
