h1 haha Setup
pre {{ setup.columns | json }}
md-content
  h4 Board
  select-board(
    boards="boards"
    board-id="setup.boardId"
  )

md-content
  h4 Columns
  select-columns(
    board-columns="boardColumns"
    column-ids="setup.columnIds"
  )

md-content
  h4 Resources
  p Team
  p sprint days
  p JH/J/person
  p contrat (nb point or speed)

//- pre {{ boards | json }}
